################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ConsoleApp_Dapper/.vs/ConsoleApp_Dapper/v16
